@model IEnumerable<ShopDoChoiLEGO.Models.SanPham>

@{
    ViewBag.Title = "Trang chủ ";
    Layout = "~/Views/Shared/_LayoutNguoiDung.cshtml";
}

<style>
    .product-item {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .product-img {
        height: 200px;
    }

        .product-img img {
            height: 100%;
            object-fit: cover;
        }

    .product-body {
        flex-grow: 1;
    }

    .product-title {
        height: 60px; /* Adjust this value based on your design */
        overflow: hidden;
    }
</style>
<body>
    <!-- Topbar End -->
    <!-- Navbar Start -->
    <div class="container-fluid mb-5">
        <div class="row border-top px-xl-5">
            <div class="col-lg-9">
                <div id="header-carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" style="height: 410px;">
                            <img class="img-fluid" src="~/Public/image/Cữu vĩ.jpg" alt="Image">
                            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                <div class="p-3" style="max-width: 700px;">
                                    <h4 class="text-light text-uppercase font-weight-medium mb-3">Giảm 10% khi mua sản phẩm đầu tiên</h4>
                                    <h3 class="display-4 text-white font-weight-semi-bold mb-4">Mô hình Lego khổng lồ</h3>
                                    <a href="" class="btn btn-light py-2 px-3">Mua ngay</a>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item" style="height: 410px;">
                            <img class="img-fluid" src="~/Public/image/itachi.jpg" alt="Image">
                            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                <div class="p-3" style="max-width: 700px;">
                                    <h4 class="text-light text-uppercase font-weight-medium mb-3">Giảm 10% khi mua sản phẩm đầu tiên</h4>
                                    <h3 class="display-4 text-white font-weight-semi-bold mb-4">Ninja Làng Lá</h3>
                                    <a href="" class="btn btn-light py-2 px-3">Mua ngay</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
                        <div class="btn btn-dark" style="width: 45px; height: 45px;">
                            <span class="carousel-control-prev-icon mb-n2"></span>
                        </div>
                    </a>
                    <a class="carousel-control-next" href="#header-carousel" data-slide="next">
                        <div class="btn btn-dark" style="width: 45px; height: 45px;">
                            <span class="carousel-control-next-icon mb-n2"></span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Navbar End -->
    <!-- Featured Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5 pb-3">
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                    <h1 class="fa fa-check text-primary m-0 mr-3"></h1>
                    <h5 class="font-weight-semi-bold m-0">Sản phẩm chất lượng</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                    <h1 class="fa fa-shipping-fast text-primary m-0 mr-2"></h1>
                    <h5 class="font-weight-semi-bold m-0">Miễn phí vận chuyển</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                    <h1 class="fas fa-exchange-alt text-primary m-0 mr-3"></h1>
                    <h5 class="font-weight-semi-bold m-0">Hoàn trả trong 14 ngày</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                    <h1 class="fa fa-phone-volume text-primary m-0 mr-3"></h1>
                    <h5 class="font-weight-semi-bold m-0">Hỗ trợ 24/7</h5>
                </div>
            </div>
        </div>
    </div>
    <!--Sản phẩm-->
    @if (Model.Any(sanpham => sanpham.NgayThemVao >= DateTime.Now.AddDays(-3)))
    {
        <div class="container-fluid pt-5">
            <div class="text-center mb-4">
                <h2 class="section-title px-5"><span class="px-2">Sản phẩm mới</span></h2>
            </div>
            @foreach (var sanpham in Model)
            {
                // Kiểm tra ngày tạo của sản phẩm
                if (sanpham.NgayThemVao >= DateTime.Now.AddDays(-3))
                {

                    <div class="row px-xl-5 pb-3">
                        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                            <a href="@Url.Action("ChiTietSanPham", "SanPhams", new { MaSanPham = sanpham.MaSanPham })" class="card-link">
                                <div class="card product-item border-0 mb-4">
                                    <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                                        <img class="img-fluid w-100" src="~/Public/image/@sanpham.URLHinhAnh" alt="@sanpham.TenSanPham">
                                    </div>
                                    <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                                        <h6 class="text-truncate mb-3">@sanpham.TenSanPham</h6>
                                        <div class="d-flex justify-content-center">
                                            <h6>$@sanpham.Gia</h6><h6 class="text-muted ml-2"><del>$200.00</del></h6>
                                        </div>
                                    </div>
                                    <div class="card-footer d-flex justify-content-between bg-light border">
                                        <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>Xem chi tiết</a>
                                    </div>
                                </div>
                            </a>
                        </div>

                    </div>
                }
            }
        </div>
    }

    @if (Model.Any(sanpham => !string.IsNullOrEmpty(sanpham.MaKhuyenMai)))
    {
        <div class="container-fluid pt-5">

            <div class="text-center mb-4">
                <h2 class="section-title px-5"><span class="px-2">Khuyến mãi</span></h2>
            </div>
            <div class="row px-xl-5 pb-3">
                @foreach (var sanpham in Model.Where(sanpham => !string.IsNullOrEmpty(sanpham.MaKhuyenMai)))
                {

                    <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                        <a href="@Url.Action("ChiTietSanPham", "SanPhams", new { MaSanPham = sanpham.MaSanPham })" class="card-link">

                            <div class="card product-item border-0 mb-4">
                                <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                                    <img class="img-fluid w-100" src="~/Public/image/@sanpham.URLHinhAnh" alt="@sanpham.TenSanPham">
                                </div>
                                <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                                    <h6 class="text-truncate mb-3">@sanpham.TenSanPham</h6>
                                    <div class="d-flex justify-content-center">
                                        <h6>$@sanpham.Gia</h6><h6 class="text-muted ml-2"><del>$200.00</del></h6>
                                    </div>
                                </div>
                                <div class="card-footer d-flex justify-content-between bg-light border">
                                    <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>Xem chi tiết</a>
                                </div>
                            </div>
                    </div>
                }
                </div>
        </div>
    }
        <!-- Products End -->
    </body>