@model ShopDoChoiLEGO.Models.SanPham

@{
    ViewBag.Title = "Chi tiết sản phẩm ";
    Layout = "~/Views/Shared/_LayoutNguoiDung.cshtml";
}
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html lang="en">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <link href="~/Public/css/ChiTietSanPham.css" rel="stylesheet" />

</head>

<body>

    <div class="container">
        <div class="card">
            <div class="container-fliud">
                <div class="wrapper row">
                    <div class="preview col-md-6">

                        <div class="preview-pic tab-content">
                            <!-- Hình ảnh -->
                            <div class="col-md-14 img-container">
                                <img src="~/Public/image/@Model.URLHinhAnh" class="img-fluid" alt="@Model.MaSanPham">
                            </div>

                        </div>
                       

                    </div>
                    <div class="details col-md-6">
                        <h3 class="product-title">@Model.TenSanPham</h3>
                        <div class="rating">
                            <div class="stars">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </div>
                        </div>
                        <p class="product-description">@Model.MoTa</p>
                        <h4 class="price">Giá : <span>$@Model.Gia</span></h4>
                        <p class="vote">Còn<strong> @Model.SoLuongTrongKho</strong> sản phẩm trong kho <strong></strong></p>
                        <h5 class="sizes">
                            Mã loại sản phẩm:
                            <span class="size" data-toggle="tooltip" title="small">@Model.MaLoaiSanPham</span>
                        </h5>
                        <h5 class="sizes">
                            Trạng thái:
                            <span class="size" data-toggle="tooltip" title="small">@Model.TrangThai</span>
                        </h5>
                        <div class="action">
                            <!-- Form thêm vào giỏ hàng -->
                            @using (Html.BeginForm("ThemVaoGio", "GioHangs"))
                            {
                                @Html.AntiForgeryToken()

                                <input type="hidden" name="maSanPham" value="@Model.MaSanPham">
                                <button class="add-to-cart btn btn-default" type="submit">Thêm vào giỏ hàng</button>
                            }

                            

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
